.toasts-container {
	position: fixed;
	bottom: $app-content-padding-y;
	left: 50%;
	top: auto;
	transform: translateX(-50%);
	width: min(rem(520px), calc(100vw - 2rem));
	backdrop-filter: $toast-bg-backdrop-filter;
	padding-inline: 0;
	
	@include media-breakpoint-down($desktop-breakpoint) {
		width: calc(100vw - 2rem);
	}
	
	& .toast {
		width: 100%;
	}
}